@model Hydra.Features.Jobs.ScheduleViewModel
@using Hydra.FubuConventions

@{
    ViewBag.Title = Hydra.Properties.Resources.Jobs_Schedule_Title;
}

<h2>@Hydra.Properties.Resources.Jobs_Schedule_Title</h2>

@Html.Label(x => x.Interval)
@Html.Input(x => x.Interval)

<br/>

@Html.Label(x => x.IntervalUnit)
@Html.Input(x => x.IntervalUnit)

<br />

@Html.Label(x => x.Schedule)
@Html.Input(x => x.Schedule)

