@using System.Web.Mvc.Html
@using Hydra.FubuConventions
@model Hydra.Features.Registration.Registration

@{
    ViewBag.Title = Hydra.Properties.Resources.Registration_Register_Title;
}

<h2>@Hydra.Properties.Resources.Registration_Register_Title</h2>

<form method="POST">

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <fieldset>
        <legend>Registration details</legend>
        @Html.FormBlock(m => m.Email)
        @Html.FormBlock(m => m.Password)
        @Html.FormBlock(m => m.ConfirmPassword)
    </fieldset>

    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@Hydra.Properties.Resources.Register" />
        </div>
    </div>

    @*<p>
        <pre><code class="response">(No response body)</code></pre>
    </p>*@

    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/vkbeautify.0.99.00.beta.js"></script>
    <script src="~/Scripts/validation.js"></script>
</form>
