@using Hydra.Models
@using Hydra.FubuConventions
@model IEnumerable<Hydra.Models.JobInfo>

@{
    ViewBag.Title = Hydra.Properties.Resources.AvailableJobs;
}

<h2>@Hydra.Properties.Resources.AvailableJobs</h2>

    <table>
        <tr>
            <th>@Hydra.Properties.Resources.JobInfo_Name</th>
            <th>@Hydra.Properties.Resources.JobInfo_Description</th>
            <th/>
        </tr>

        @foreach (JobInfo info in Model)
        {
            <tr>
                <td>@info.Name</td>
                <td>@info.Description</td>
                <td>@Html.ActionLink(Hydra.Properties.Resources.Schedule, "Schedule", info)</td>
            </tr>
        }
    </table>
