@using Hydra.Models
@using Hydra.FubuConventions
@using Quartz
@model IEnumerable<IJobDetail>

@{
    ViewBag.Title = Hydra.Properties.Resources.AvailableJobs;
}

<h2>@Hydra.Properties.Resources.AvailableJobs</h2>

<table>
    <tr>
        <th>@Hydra.Properties.Resources.JobInfo_Name</th>
        <th>@Hydra.Properties.Resources.JobInfo_Description</th>
        <th/>
    </tr>

    @foreach (IJobDetail job in Model)
    {
        <tr>
            <td>@job.Key.Name</td>
            <td>@job.Description</td>
            <td>@Html.ActionLink(Hydra.Properties.Resources.Delete, "Delete", job.Key)</td>
        </tr>
    }
</table>

@Html.ActionLink(Hydra.Properties.Resources.Schedule, "Schedule")
