@model Hydra.Models.ScheduleNewJob
@using Hydra.FubuConventions

@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

@Html.Label(x => x.Interval)
@Html.Input(x => x.Interval)

<br/>

@Html.Label(x => x.IntervalUnit)
@Html.Input(x => x.IntervalUnit)

<br />

@Html.Label(x => x.Schedule)
@Html.Input(x => x.Schedule)

